.all-Guitars{
    padding: 10px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.Guitars-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 20px;
    
    
   
}
.Guitars-details{
        background-color: black;
        border-radius: 8px;
        padding: 8px;
        align-items: center;
    }
.Guitars-details h1{
    padding: 8px;
    color: white;
    
}
.Guitars-details h3{
    padding: 8px;
    color: white;
    
}
.Guitars-details img{
    
    margin-left: 10px;
    border-radius: 8px;
}
.Guitars-details button{
    border-radius: 6px;
    margin-bottom: 5px;
    margin-left: 7px;
}
.Guitars-details img{
    width: 80%;
}
@media screen and (max-width:480px) {
    .Guitars-list{
        display: inline;
        margin-right: 40px;
        gap: 45px;
         
    }
    .Guitars-details{
        display: inline;
        padding: 4px;
        
    }
    .all-Guitars{
        
        display: block;
    }
}
@media screen and (max-width:900px) {
    .Guitars-list{
        display: inline;
        margin-bottom: 15px;
        align-items: center;
    }
    .Guitars-details{
        display: block;
        
        
        margin-bottom: 15px;
    }
    .all-Guitars{
        margin-bottom: 15px;
        display: block;
    }
}